.studentPageContainer {
    font-family: Arial, sans-serif;
    color: $color-black;

    &__carousel {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding: 2rem;

        @include respond(phone){
            padding: 1rem;
            gap: 1rem;
        }
    }
}
