.footer {
    background-color: $color-black;
    padding: 1rem;
    text-align: center;
    font-size: 1.8rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    @include respond(phone){
        position: relative;
        margin-top: 2.5rem;
        font-size: 1.4rem;
        margin-bottom: 0 !important;
    }

    p {
        color: $color-primary-extraLight;
    }

    &--books {
        position: absolute;
        margin-top: 2rem;
    }
}
