.loadingWidget {
    height: 40rem;
    width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noResultsWidget {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 20rem);
    max-width: 70rem; 
    
    &__exclaimIcon {
        font-size: 5rem;
        color: $color-red;
    }
    
    & div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & span{
            color: $color-neonBlue;
            font-size: 3rem;
            padding: 1rem 8rem;
            border-radius: .8rem;
            vertical-align: middle;
        }

        & p {
            font-size: 1.5rem;
            color: $color-grey-dark;
            padding: 1rem 4rem;
            text-align: center;
        }
    }
    
    &__catAnime {
        height: 30rem;
        width: 30rem;

        @include respond(phone){
            display: none !important;
        }
    }
}