// Color pallete
$color-primary: #1E88E5;
$color-primary-light: #64B5F6;
$color-primary-extraLight: #ADD8E6;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-gray-dark-4: #5F5F5F;

$color-grey-light-1: #F2F2F2;
$color-grey-light-2: #EEE;
$color-gray-light-3: #CCC;
$color-gray-light-4: #AAA;


$color-white: #FFF;
$color-black: #000;
$color-mattBlack: #212121;
$color-red: #FF0000;
$color-lightcoral: #F08080;
$color-neonBlue: #00AAFF;
$color-green: #008000;
$color-navyBlue: #2196F3;


// Font families
$font-family_antic: 'Antic', sans-serif;
$font-family_worksans: "Work Sans", sans-serif;
