.u-studentList--studentModalHeight {
    max-height: 35rem !important;
}

.u-modal-horizontal-cards__image--books {
    border-radius: 2px !important;
}

.u-form-container__name-fields--firstInput {
    margin-right: 1rem !important;
}

.u-form-container__btn--submit:hover {
    background: $color-primary-light !important;
}

.u-modal_content--bookModalContainer {
    min-width: 110rem !important;
    min-height: 45rem !important;

    @include respond(phone){
        min-width: 90vw !important;
        min-height: 90vh !important;
    }
}

.u__stats--bookModalContainer {
    padding: 0 !important;
    margin: 1rem 0 !important;
}

.u-studentList--bookModalHeight {
    max-height: 25rem !important;
}

.u-modal-horizontal-cards__image--round {
    border-radius: 50% !important;
}

.u-pagination-container--booksPage {
    margin-top: .8rem !important;
}
